<p><%= @directions %></p>
<p></p>

<p><%=@boat%></p>
<p></p>
<p><%=@boat_next%></p>
<p></p>
<p><%=@temple%></p>

<p><%= @invalid %></p>	
	<p><input type="text" id="input" autofocus></input></p>

<script type="text/javascript">

	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= boat_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 