<p><%= @directions %></p>
<p>--------------------------------------------------------------------</p>

<p><%= @bridge %></p>

<p><%= @temple %></p>

<p><%= @invalid %></p>	
	<p><input type="text" id="input" autofocus></input></p>

<script type="text/javascript">

	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= bridge_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 