	<h2>The Lost Treasure of Z: A Choose Your Own Adventure Game</h2>
		<p></p>
		<!-- display the beginning of the story -->
		<p><%= @start %></p>
		<!-- display the pages of the book -->
		<table>
			<tr>
				<td><pre><%=@book["sketch"]%></pre></td>
				<td><pre><%=@book["page1"]%></pre></td>

			</tr>

		</table>
		<!-- display more story -->
		<p><%= @start2 %></p>

	<%= @invalid %>
<!-- Get user response-->
<p><input type="text" id="input" autofocus></input></p>

<!-- get user input to determine the next step in the story.  Pass the input as a parameter back to the same page and take action in controller depending on parameter. -->
<script type="text/javascript">

	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= root_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 