<!--Directions for accessing other information -->
<p><%= @directions %></p>
<p>--------------------------------------------------------------------</p>

<p><%= @start_yes %></p>

<p><%= @jungle %></p>
<p></p>
<!-- Display one of two messages for invalid input -->
<p>
	<%= @invalid %><%= @collected %>
</p>

<p></p>

<!-- text box for user input -->
<p><input type="text" id="input" autofocus></input></p>

<!-- user input is passed to the controller with params -->
<script type="text/javascript">
	$("#input").change(function(){
		var choice = $(this).val().toLowerCase();
		var url = "<%= step2_path %>" + "?input=" + choice;
		window.location = url;
		})

</script> 
